@media(max-width:768px) {
    .box {
        height: 100px;
        width: 100%;
        background-color: yellow;
        /* display: none;  */
        border: 2px solid black;
        box-shadow: 0px 10px 10px gray;
        border-radius: 10px;
    }
}
li {
    list-style-type: none;
    text-decoration: none;
}
@media(max-width:768px) {
nav ul {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background-color: lightgreen;
}
}