.container {
    display: flex;
    height: 600px;
    width: 1000px;
    border: 1px solid black;
    background-color: lightgray;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
     justify-content: space-between; 
    align-items: stretch;
    align-content: center; 
    gap: 10px;
}
.item {
    height: 100px;
    width: 200px;
    background-color: coral;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    flex-grow: 1;
}
.item2 {
    order: -1;
    align-self: flex-start;
}