/* @media(max-width:768px) {
p {
    font-size: 50px;
    background-color: aqua;
}
} */
.box{
    width: 100%;
    height: 100px;
    background: green;
}
@media(min-width:768px) {
    .box {
        background-color: aqua;
        /* display: none; */
    }
}
li {
    list-style-type: none;
    text-decoration: none;
}
nav ul {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    /* position: static; */
}