/* @media(max-width:768px) {
p {
    font-size: 50px;
    background-color: aqua;
}
} */
/* .box{
    width: 100%;
    height: 130px;
    background: green;
}
@media(min-width:768px) {
    .box {
        background-color: aqua;
        p {
            font-size: 35px;
        }
         display: block; 
    }
}
li {
    list-style-type: none;
    text-decoration: none;
}
nav ul {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 1rem;
    /* flex-direction: column; */
    /* position: static; 
} */

nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 1rem;
    background: #333;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
}
.menu {
    display: none;
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200%;
}
.menu a{
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    display: block;
}
.hamburger{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}
@media(min-width:768px) {
    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        background: none;
    }
    .hamburger {
        display: none;
    }
}